section{
    margin-top: 46px;
}
.home-container{
    background-image:url("C:\Users\alumno\Documents\GitHub\2223-PI-EquipoE\publicitex\frontend\public\eslogan.avif");
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}
.home-text{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    color: #fff;
    text-shadow: 8px 10px 10px #000000;
    border-top:none;
    border-bottom: none;
    padding: 90px 40px;
    text-transform: uppercase;
    font-size: 80px;
    font-weight: 800;
}