/* Caja de redes sociales */
.footerContainer{
 display: flex;
 width: 100%;
 justify-content: center; 
}
.sci {
    width: 30%;
    padding: 0 0 0.5rem 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 0.5rem;
    margin-top: 10px;
}
.footerElement {
      transition: 0.4s;
      list-style: none;
}

.footerElement:hover {
      transition: 0.3s;
      transform: translateY(-0.5rem);
}
.icon{
  color: aliceblue;
}

/* //Nombre del logo */
@media screen and (max-width: 38.5rem) {
    .sci {
      width: 100%;
      justify-content: center;
    }
  };