
  .page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .festivalesContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
.searchForm {
    align-items: center;
    display: flex;
    justify-content: center;
  }
.formInput {
    color: #1d1d1d;
    color: var(--form-text);
    background-color: #efefef;
    background-color: gray;
    font-family: inherit;
    font-size: inherit;
    margin-right: 6px;
    margin-bottom: 6px;
    padding: 10px;
    border: none;
    border-radius: 6px;
    outline: none;
  }
.formSubmit{
  color: #1d1d1d;
    color: var(--form-text);
    background-color: #efefef;
    background-color: gray;
    font-family: inherit;
    font-size: inherit;
    margin-right: 6px;
    margin-bottom: 6px;
    padding: 10px;
    border: none;
    border-radius: 6px;
    outline: none;
}
.titulo{
    color: white;
}

@media screen and (max-width: 650px) {
  .containerCards-Festivals{
  grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 1000px) and (min-width: 650px){
.containerCards-Festivals{
  grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1600px) and (min-width: 1000px){
.containerCards-Festivals{
  grid-template-columns: repeat(3, 1fr);
  }
}

