Link{
    width: auto;
    height: 100%;

    margin: 0;
    padding: 0;

    list-style: none;
}


/* NAVIGATION MENU */
nav{
    position: fixed;
    top: 0;

    display: flex;
    justify-content: space-between;
    
    background-color: #a90329;
    
    width: 100%;
    height: 70px;

    z-index: 100;

    transition-duration: .4s;
}

.menu{
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;

    height: 50px;
    padding: 10px;
    gap: 10px;
}

/* Button styles */
 
.button{
    padding: 0 10px;

    height: 100%;

    display: flex;
    align-items: center;
    
    text-decoration: none;

    background: #a9032a45;
    color: #ddd;
    border-radius: 7px;
    transition: .3s;
    box-shadow: 0 0 10px #00000044;
}

.button:hover{
    cursor: pointer;
  
    background: #7008203b;
 
    font-size: 1.2em;
    font-weight: bold;
    color: #ccc;
}
/*  LOGO  */

.logo-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1px;

    height: 100%;
    
}
.logo{
    width: 100px;
    height: 20px;
    background-color: #500617;
    border: 1px solid black;
}

img{
    width: 100%;
    height: 100%;
}
img:hover{
cursor: pointer;
}

#nav-title{
    margin: 0;

    font-size: 2rem;
}

