:root {
  --background-body: #fff;
  --background: #efefef;
  --background-alt: #f7f7f7;
  --selection: #9e9e9e;
  --text-main: #363636;
  --text-bright: #000;
  --text-muted: #70777f;
  --links: #0076d1;
  --focus: #0096bfab;
  --border: #dbdbdb;
  --code: #000;
  --animation-duration: 0.1s;
  --button-base: #d0cfcf;
  --button-hover: #9b9b9b;
  --scrollbar-thumb: rgb(170, 170, 170);
  --scrollbar-thumb-hover: var(--button-hover);
  --form-placeholder: #949494;
  --form-text: #1d1d1d;
  --variable: #39a33c;
  --highlight: #ff0;
  --select-arrow: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='utf-8'?%3E %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='62.5' width='116.9' fill='%23161f27'%3E %3Cpath d='M115.3,1.6 C113.7,0 111.1,0 109.5,1.6 L58.5,52.7 L7.4,1.6 C5.8,0 3.2,0 1.6,1.6 C0,3.2 0,5.8 1.6,7.4 L55.5,61.3 C56.3,62.1 57.3,62.5 58.4,62.5 C59.4,62.5 60.5,62.1 61.3,61.3 L115.2,7.4 C116.9,5.8 116.9,3.2 115.3,1.6Z'/%3E %3C/svg%3E");
}
body{
  margin: 0;
  padding: 0;
  background-color: #000;
  height: 100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  align-items: center;
  display: flex;
  justify-content: center;
}

li {
  list-style: none;
}

.gallery {
  display: grid;
  width: 80%;
  gap: 1rem;
  /* grid-auto-flow: dense; */
  /* grid-auto-rows: 28rem; */
  margin-top: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
}

.card {
  /* overflow: hidden; */
  flex: 1;
  padding: 1rem;
  background: #fff;
  border-radius: 0.3rem;
  background-color: #9191e9;
  box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.4);
  color: #333;
}

.card__img {
  display: block;
  width: calc(100% + 2rem);
  /* height: 10rem; */
  border-bottom: 3px solid #9191e9;
  margin: -1rem -1rem 0;
  background: #9191e9;
}

.card__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__title {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
  color: white;
}
.card__title a {
  text-decoration: none;
}

input {
  color: #1d1d1d;
  color: var(--form-text);
  background-color: #efefef;
  background-color: var(--background);
  font-family: inherit;
  font-size: inherit;
  margin-right: 6px;
  margin-bottom: 6px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  outline: none;
}
.app__submit:hover{
  cursor: pointer;
}
