.cementerio{
  height: 700px;
  background-image: url("C:\Users\alumno\Documents\GitHub\2223-PI-EquipoE\publicitex\frontend\public\buscador.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-position: center;
}
.title{
  color: #fff;
  width: 100%;
  margin: auto;
  padding: 60px 10px;
  font-size: 50px;
  font-weight: 600;
  margin-left: 10%;
  text-transform: uppercase;
  width: 80%; 
}
.cementerio-main{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;   
}
.cementerio-text{
  padding: 30px;
  width: 100%;
}
p{
  color: #fff;
  font-size: 20px;
}
.form-busqueda{
  display: flex;
}
.text-busqueda{
  background-color: none;
  display: block;
  height: 50px;
  width: 50%;
  color: #111;
  font-size: 1.2em;
  transition-duration: .3s;
  border: 1px;
  border-radius: 10px;
  margin-right: 5px;
}
.text-busqueda:focus{
  font-size: 1.5em;
  font-weight: bold;
}
.submit-busqueda{
  height: 70px;
  width: fit-content;
  color: #111;
  font-size: 1.5em;
  transition-duration: .3s;
  background-color: rgba(109, 101, 101, 0.175)11;
  border-radius: 10px;
  border: 1px;
}
.submit-busqueda:hover{
  font-size: 1.8em;
  font-weight: bold;
  cursor: pointer;
}
